<% if session[:operator_id] %>
	<div class="jumbotron"><br>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/191878-200.png">
		<h1>Welcome</h1>
		<h1>Admin</h1>
		<p>You now have admin privileges.</p><br>
	</div>
<% end %>