/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	letter-spacing: 0.7px;
	line-height: 22px;
}

#notice {
	color: #000 !important;
	border: 1.5px solid green;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: 500 smaller sans-serif;
}

.centered_item {
	text-align: center;
}

.banner {
	text-align: center;
	padding: 10px;
	border-bottom: 2px solid #8A2BE2;
	img { text-align: center;
		  margin: 0 auto;
	}
}
.nav {
	background: #DDA0DD;
	font-size: 15px;
	text-transform: uppercase;
}
.row {
	float: left;
}

#categories {
	background: DarkMagenta;
	color: SpringGreen;
	text-align: center;
	padding: 0.5px 0.5px;
	font-size: 11px;
	text-transform: uppercase;
	&:hover { color: yellow; cursor: pointer; }
	&:active { background: #b300b2; }
}
#categories_expanded {
	background: SpringGreen;
	color: DarkMagenta;
	line-height: 30px;
	display: none;
	li { display: inline; }
	a:hover { color: white; }
}

.container {
	background: #E5FEE5;
	padding-top: 20px;
}
ul { margin-top: 0;
	 padding-top: 15px;
	 padding-left: 5px;
	 padding-right: 30px;
	 padding-bottom: 15px;
	 padding: 0;
	 display: inline-block;
}
li {
	list-style: none;
	padding-left: 1em;
	border-left: 2px solid green;
	line-height: 30px;
	padding-right: 3em;
	padding-top: 5px;
	margin-left: 10px;
	a {
		text-decoration: none;
		font-weight: bold;
		color: #2F4F4F;
	}
	a:hover { color: #87CEEB; }
}

.list_actions {
	a {
		text-decoration: none;
		font-weight: bold;
		color: #2F4F4F;
	}
	a:hover {
		font-weight: bolder;
		text-decoration: underline;
	}
	a:active {
		color: red;
	}
}

.error {
	h2 {
		color: red;
	}
	font-size: small;
	background: #fff;
	margin-bottom: 30px;
	margin-top: 30px;
}
footer {
	background: #2F4F4F;
	color: #fff;
	text-align: center;
	padding: 5px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}