// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
	table {
		border-collapse: collapse;
		margin: 0 auto;
		margin-bottom: 50px;
		tr td {	
				padding-left: 20px;
				padding-right: 20px;
				line-height: 30px;
			}
		tr th {
			font-weight: bold;
			font-size: 18px;
			text-decoration: none;
			padding-bottom: 10px;
			text-align: left;
			padding-left: 20px;
		}
		.centered_th {
			text-align: center;
			padding-right: 5px;
		}
		.list_actions {
			padding-right: 0px;
			font-size: 15px;
		}
	}
	.list_image {
		max-width: 30em;
		max-height: 20em;
	}
	.list_description {
		width: 50%;
	}
}