// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
	table {
		border-collapse: collapse;
		tr td {
			padding: 5px;
			vertical-align: top;
		}
	}
	.list_image {
		max-width: 20em;
		max-height: 14em;
	}
	.list_description {
		width: 60%;
	}
}

.redirect_button {
	margin-left: 17px;
	margin-bottom: 30px;
	a {
		text-decoration: none;
		color: #8B008B;
		font-weight: bold;
		padding: 10px 5px;
		background: #00FF7F;
		border: 2px solid green;
		border-radius: 25px;
	}
	a:hover {
		text-decoration: none;
		color: #00FF7F;
		background: #8B008B;
	}
	a:active {
		border: 3px solid green;
	}
}